:root {
    --bg: #FAFAFA;
    --bg-light: #FAFAFA;

    --grey: #afafaf;

    --white: #FFFFFA;
    --black: #101010;

    --light: #FAFAFA;
    --dark: #303030;
    /* primary */
    --p: #3b82f6;
    --safe: #22c55e;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background: linear-gradient(135deg, #3498db, #9b59b6); */
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgb(254, 240, 138);
    background: linear-gradient(149deg, rgba(254, 240, 138, 1) 0%, rgba(234, 179, 8, 1) 50%, rgba(202, 138, 4, 1) 100%);
}

/* =====================================================================================
UTILITY
======================================================================================== */
input {
    padding: .5rem .8rem;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid var(--grey);
}

input:focus {
    outline: 2px solid var(--p);
}


.btn {
    padding: .5rem .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-transform: capitalize;

    border: none;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
    outline: 1px solid var(--dark);
    border: transparent;
    transition: background-color 0.3s;
}

.btn:focus {
    outline: 2px solid var(--p);
}

h1 {
    /* width: 100%; */
    color: var(--dark);
    text-align: center;
}


/* =====================================================================================
CARD CONTAINER
======================================================================================== */
#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: .5rem;
    margin: 1rem;
    width: 30%;
    border-radius: .5rem;
    background-color: var(--light);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    overflow: hidden;
}

/* ================================
TAB HEADER
================================ */
.tab-container {
    padding: 1rem .2rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    border-bottom: 2px solid var(--grey);
    overflow-x: scroll;
}

.tab.active,
.tab:hover {
    background-color: var(--p);
    color: var(--light);
}

/* ================================
TAB BODY
================================ */
.tab-content-container {
    padding: 1rem;
}

.tab-content-container .heading {
    font-size: large;
    font-weight: bold;
}

.tabContent {
    padding: .5rem 0;
    display: none;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}

.tabContent.active {
    display: flex;
}

.tabContent input {
    margin: 0 auto;
    width: 60%;
}

.btn-submit {
    width: fit-content;
    margin: auto;
}

.btn-submit:hover {
    background: var(--safe);
    color: var(--light);
}


/* ================================
EXPLAINATION CONTAINER
================================ */
.explaination-container {
    padding: 1rem;
    padding-top: 0;
}


/* ================================
RESULT BOX
================================ */
.result-box {
    position: relative;
    display: block;
}

.result-box.hidden {
    display: none;
}

.result-box .heading {
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.result-container {
    position: relative;
    margin: 0 auto;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid var(--dark);
    overflow: hidden;
}


.result-container .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-container .img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* RESPONSIVENESS  */
@media only screen and (max-width: 768px) {
    .card {
        width: 100%;
    }

    #link-icons {
        flex-direction: column;
        gap: 10px;
    }

}